.footer-img{
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.footer-bg {
    background-color:#3c96b4;
}

@media screen and (max-width : 768px) {
    .footer-img{
        height: 90px;
        width: 130px;
        border-radius: 50%;
    }
}